[submodule "puppet/modules/sudo"]
	path = puppet/modules/sudo
	url = https://github.com/saz/puppet-sudo.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/postgresql"]
	path = puppet/modules/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql.git
[submodule "puppet/modules/ntp"]
	path = puppet/modules/ntp
	url = https://github.com/puppetlabs/puppetlabs-ntp.git
